body {
    background-color: white;
}

.row {
    width: 186px;
    background-color: yellow;
    display: flex;
}

.cell {
    font-size: 48px;
    border: 1px solid gray;
    height: 60px;
    width: 60px;
    text-align: center;
    cursor: default;
}